/* css/styles.css of 2026-04-apr making 2026-apr.bauska.org */
body {
  font-family:Helvetica, 'Bradley Hand'; cursive, 'OCR A Std', monospace;
}
table {
  table-layout:fixed;
  width:70%; 
}
.month-header {
  background-image:url("https://2026-apr.bauska.org/images/silus-690x300.png");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  height:350px;
  text-align:right;
}

h1 {
  color:#fff;  /* white */
  font-size:200%;
  font-weight:700;
  letter-spacing:3px;
  padding-right:50px;
  padding-top:150px;
  text-shadow:-1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  vertical-align:top;
}
.copyright-notice {
  color:#fff;
  font-size:65%;
  padding-right:50px;
  text-align:right;
  text-decoration:none;
  vertical-align:bottom;
}

.weekday-header {
  background-color:#999;  /* dark gray */
  border-color:#ddd;  /* very light gray */
  border-style:solid;
  letter-spacing:1px;
  line-height:25px;
}
.week {
  background-color:#ffff00;  /* yellow, eaeaea = very light gray */
  height:75px;
  margin:0;
  text-align:left;
  vertical-align:top;
}
.off-day {
  background-color:#ddd;  /* very light gray */
}

ul {
  font-size:75%;
  list-style:none;
  padding-left:20px;
  padding-right:5px;
}

.event {
    border-radius:5px;
    color:#10171c;  /* very dark (mostly black) blue */
    padding:5px;
    margin:5px 0;
}
.container {
  background-color: #ffffff;  /* white */
  border: 2px solid #dcdcdc;  /* very light gray */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba
  (0, 0, 0, 0.1);
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: #4169e1;  /* royalblue */
  text-decoration: none;
  position: relative;
  padding-right:50px;  /* 6-23-2025 */
  font-family: Helvetica, Arial, sans-serif;
  transition: color 0.3s ease-in-out;
}
a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #990000;  /* crimson */
  transition: width 0.3s;
  position: absolute;
  bottom: -2px;
  left: 0;
}
a:hover {
  color: #990000;  /* crimson */
}
a:hover::after {
  width: 85%;
}

/* World, National & International Days */
.aprilFools {
    background-color:#ff9999;  /* light salmon pink */
}
.april-fools {
    background-color:#ff9999;  /* light salmon pink */
}
.natl-walk-day {
    background-color:#ffc040;  /* light orange */
}
.natl-burrito {
    background-color:#ff9999;  /* light red */
}
.good-friday {
  background-color: #98fb98;  /* very soft lime green */
}
.natl-hug-a-newsperson {
  background-color: #ff9999;  /* light salmon pink */
}
.easter {
  background-color: #ff9999;  /* light red */
}
.deep-dish-pizza {
    background-color:#9ab3ff;  /* pale blue */
}
.natl-beer {
  background-color: #ffc040  /* light orange */
}
.world-health {
    background-color:#98fb98;  /* very soft lime green */
}
.intl-day-of-pink {
  background-color: ffc0cb  /* very pale red */
}
.natl-unicorn {
  background-color: #9ab3ff;  /* pale blue */
}
.natl-siblings {
  background-color: #d3d3d3;  /* light gray */
}
.natl-pet {
  background-color: #4dff4d;  /* light lime green */
}
.intl-day-of-space-flight {
  background-color: #d3d3d3;  /* light gray */
}
.palm-sunday {
  background-color: #9ab3ff  /* pale blue */
}
.taxes-due {
  background-color: #98fb98;  /* very soft lime green */
}
.passover {
    background-color:#4dff4d;  /* light lime green */
}
.4-20 {
  background-color: #ba9ce8;  /* very soft violet */
}
.earth-day {
    background-color:#ccff9a;  /* pale green */
}
.take-child-to-work {
  background-color: #d3d3d3;  /* light gray */
}
.arbor {
    background-color:#ffd700;  /* gold */
}
.dna {
    background-color:#ff68d8;  /* very light pink */
}
.world-penguin {
    background-color:#9aff9a;  /* pale lime green */
}
.natl-pretzel {
    background-color:#a6f4ff;  /* pale cyan */
}
.natl-superhero {
    background-color:#9aff9a;  /* pale lime green */
}
.natl-denim {
    background-color:#ba9ce8;  /* very soft violet */
}
.intl-jazz {
    background-color:#ffc0cb;  /* very pale red (pink) */
}
